{% extends 'layout.html' %}

{% block body %}
<h1 style="text-align: center; margin-top:20px">Login</h1>
<form action="" method="POST" style="margin-left:40%; margin-right:40%">
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a style="float:right" href="/register">Not a member yet?</a>
</form>
{% endblock %}